# TeX auxiliaries
*.aux
*.log
*.pdf

.DS_Store
.vscode/
__pycache__/

blue-screen/images/
blue-screen/config.json

data-structure/

euler/a.out
euler/*.dSYM/

exact-diagonalization/result.json

leetcode/a.out
leetcode/*.dSYM/
leetcode/temp/

wolfram/hanzi-superimposing/fonts/
wolfram/hanzi-superimposing/images/
